{{#if student }}
{{> headerStudent}}
{{else}}
{{> headerOwner }}
{{/if}}
<div class="page rooms col-xs-12 col-sm-12 col-md-12">
  <div class="rooms__content">
    {{#if foundDorms}}
      <div class="rooms__content-list list">
        {{#each favoritRooms}}
        <div class="box rooms__content-room" id="{{this.id}}">
          <a href="#/rooms/{{this.id}}" class="room__link">
            <div class="box__info room__address">
              <p class="box__info-title"><strong>{{this.address.street}} {{this.address.number}}</strong> - {{this.address.town}}</p>
            </div>
            <div class="box__info room__type">
              <p class="box__info-extra">Type: {{this.roomInfo.type}}</p>
            </div>
          </a>
          <div class="box__buttons">
            <p>€ {{this.price.rent}}<br>/maand</p>
          </div>
        </div>
        {{/each}}
        <hr>
      </div>
      {{else}}
      <div class="rooms__content-norooms col-xs-12 col-sm-12 col-md-12">
        <p>Geen koten beschikbaar</p>
      </div>
      {{/if}}
  </div>
</div>
{{> footer}}