{{#if student }}
{{> headerStudent}}
{{else}}
{{> headerOwner }}
{{/if}}
<div class="page rooms col-xs-12 col-sm-12 col-md-12">
  <div class="rooms__content">
    {{#if student }}
      <div class="rooms__content-nav">
        <a class="list-link">Lijst</a>
        <a class="map-link">Kaart</a>
        <a class="tinder-link">Kenter </a>
      </div>
    {{/if}}
    {{#if foundDorms}}
      <div class="rooms__content-list list">
        {{#each dorms}}
        <div class="box rooms__content-room" id="{{this.id}}">
          <a href="#/rooms/{{this.id}}" class="room__link">
            <div class="box__info room__address">
              <p class="box__info-title"><strong>{{this.address.street}} {{this.address.number}}</strong> - {{this.address.town}}</p>
            </div>
            <div class="box__info room__type">
              <p class="box__info-extra">Type: {{this.roomInfo.type}}</p>
            </div>
          </a>
          <div class="box__buttons">
            {{#if ../student}}
              <p>€ {{this.price.rent}}<br>/maand</p>
            {{else}}
              <a href=""><i class="edit fas fa-pencil-alt"></i></a>
              <a href=""><i class="delete fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
        {{/each}}
        <hr>
      </div>
      {{#if student}}
      <div class="map hidden">
        <div id="map-box" class="map-box">

        </div>
      </div>
      <div class="tinder hidden">
        <div class="rooms__content-swipe">
          <div>
            <div class="list__content-image detail__content-image">
              <img src="../../src/images/kot.jpg" alt="">
            </div>
            <div class="room">
              <div class="box__info room__address">
                <p class="box__info-title"><strong>{{room.address.street}} {{room.address.number}}</strong> - {{room.address.town}}</p>
              </div>
              <div class="box__info room__type">
                <p class="box__info-extra">Type: {{room.roomInfo.type}}</p>
              </div>
              <div class="box__buttons">
                <p>€ {{room.price.rent}}<br>/maand</p>
              </div>
            </div>
            <div>
              <div class="swipe__buttons">
                <a class="yes__button" href=""><i class="fas fa-home"></i></a>
                <a class="no__button" href=""><i class="fas fa-times"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{else}}
      <div class="rooms__content-norooms col-xs-12 col-sm-12 col-md-12">
        <p>Geen koten beschikbaar</p>
      </div>
      {{/if}}
      {{#if student}}
      {{else}}
      <div class="rooms__content-add">
        <a href="#/rooms/add"><i  class="fas fa-plus"></i></a>
      </div>
      {{/if}}
  </div>
</div>
{{> footer}}